<!DOCTYPE html>
<html>
  <head>
    <title>Hacks Hair Hole</title>
  </head>
  <body>
    <h1>You added a client.</h1>
      <p>{{ newclient.getName }}</p>
      <p><a href='/'>View your clients.</a></p>

      <p><a href='/'>Home</a></p>
  </body>
</html>
