<!DOCTYPE html>
<html>
  <head>
    <title>Hacks Hair Hole</title>
  </head>
  <body>
      <h1>Client Edited/Deleted</h1>

      <p>{{ client.getName }}</p>

      <p><a href='/'>Home</a></p>
  </body>
</html>
